.default-panel{
    -fx-background-color: #323232;
}

.tweet-textarea{
    -fx-text-fill: #ecf0f1;
    -fx-background-color: #323232;
}

.tweet-textarea .scroll-pane{
    -fx-background-color: transparent;
}

.tweet-textarea .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.tweet-textarea .scroll-pane .content{
    -fx-background-color: transparent;
}

.username-label{
    -fx-text-fill: #ecf0f1;
}

.screenname-label{
    -fx-text-fill: #ecf0f1;
}

.tab{
    -fx-background-color: #bbbbbb;
    -fx-background-radius: 1px;
}

.tab:selected{
    -fx-background-color: #555555;
}

.tab:selected .tab-label{
    -fx-text-fill: #ecf0f1;
}

.tab-pane{
    -fx-background-color: #323232;
}

.list-view{
    -fx-background-color: #555555;
}

.button {
    -fx-background-color: #7f8c8d;
    -fx-text-fill: #ecf0f1;
    -fx-background-radius: 1px;
}

.button .text{
    -fx-font-weight:bold;
    -fx-font-size:11px;
}

.button:hover{
    -fx-background-color: #6e7b7c;
}

.button:pressed{
    -fx-background-color: #5d6a6b;
}

.root-toolbar{
    -fx-background-color: #323232;
}

.textarea-toolbar{
    -fx-background-color: #323232;
}

.label{
    -fx-text-fill: #ecf0f1;
}

.add-account-label{
    -fx-font-weight:bold;
    -fx-font-size:20;
}

.twittercard-button{
    -fx-padding: 4px;
}

.half-transparent-gray{
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.cursor-crosshair{
    -fx-cursor: crosshair;
}

.transparent-panel{
    -fx-background-color: rgba(0, 0, 0, 0.0);
}

.error-text-color{
    -fx-text-fill: #c0392b;
}

.normal-text-color{
    -fx-text-fill: #ecf0f1;
}