.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-home {
	/*fill: #ecf0f1;*/
}
.icon-pencil {
	/*fill: #ecf0f1;*/
}
.icon-images {
	/*fill: #ecf0f1;*/
}
.icon-camera {
	/*fill: #ecf0f1;*/
}
.icon-stack {
	/*fill: #ecf0f1;*/
}
.icon-drawer {
	/*fill: #ecf0f1;*/
}
.icon-drawer2 {
	/*fill: #ecf0f1;*/
}
.icon-undo {
	/*fill: #ecf0f1;*/
}
.icon-bubbles {
	/*fill: #ecf0f1;*/
	width: 36px;
}
.icon-spinner {
	/*fill: #ecf0f1;*/
}
.icon-settings {
	/*fill: #ecf0f1;*/
}
.icon-menu {
	/*fill: #ecf0f1;*/
}
.icon-star {
	/*fill: #ecf0f1;*/
}
.icon-star2 {
	/*fill: #ecf0f1;*/
}
.icon-loop {
	/*fill: #ecf0f1;*/
}
.icon-loop2 {
	/*fill: #ecf0f1;*/
}
.icon-checkbox-unchecked {
	/*fill: #ecf0f1;*/
}
